# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('../Unit_11_HW/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# Create our features
float_df = pd.get_dummies(df, columns=['home_ownership', 'verification_status', 'pymnt_plan', 'hardship_flag', 'debt_settlement_flag', 'issue_d', 'initial_list_status', 'application_type','next_pymnt_d']) 

x_cols = [i for i in float_df.columns if i not in ('loan_status')]




X = float_df[x_cols]


# Create our target
y = df['loan_status'].values.reshape(-1,1)

y[:5]

array([['low_risk'],
       ['low_risk'],
       ['low_risk'],
       ['low_risk'],
       ['low_risk']], dtype=object)

In [6]:
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,debt_settlement_flag_N,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,0,0,1,0,1,1,0,0,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,0,0,1,0,1,1,0,0,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,0,0,1,0,1,1,0,0,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,0,0,1,0,1,1,0,0,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,0,0,1,0,1,1,0,0,1

In [7]:
# Check the balance of our target values
df['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [8]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [9]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler

In [10]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

In [11]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [14]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf_model = BalancedRandomForestClassifier(random_state=1, n_estimators=1000, sampling_strategy=1)
brf_model.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1,
                               sampling_strategy=1)

In [37]:
# Calculated the balanced accuracy score

predictions = brf_model.predict(X_test_scaled)

balanced_acc_score = balanced_accuracy_score(y_test, predictions)
print(balanced_acc_score)

0.7777312696424534

In [36]:
# Display the confusion matrix
print(confusion_matrix(y_test, predictions))

[[   86     6]
 [ 1051 16062]]

In [24]:
# Print the imbalanced classification report

print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.63      0.93      0.08      0.76      0.57        92
   low_risk       1.00      0.93      0.63      0.96      0.76      0.60     17113

avg / total       0.99      0.92      0.63      0.96      0.76      0.60     17205

In [25]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.0742954939010601, 'total_rec_prncp'),
 (0.06357513711594852, 'total_pymnt_inv'),
 (0.062125608631020464, 'last_pymnt_amnt'),
 (0.05957002045181231, 'total_pymnt'),
 (0.05738102261247327, 'total_rec_int'),
 (0.027008350758468084, 'int_rate'),
 (0.022336041227022253, 'issue_d_Jan-2019'),
 (0.017170050342018937, 'dti'),
 (0.017078342472482508, 'mo_sin_old_rev_tl_op'),
 (0.01653201616680898, 'annual_inc'),
 (0.01599064991121303, 'out_prncp_inv'),
 (0.015822300943530435, 'installment'),
 (0.015614069903000346, 'bc_util'),
 (0.015524434050713444, 'mths_since_recent_inq'),
 (0.014955042619760755, 'max_bal_bc'),
 (0.014431738989761099, 'out_prncp'),
 (0.014343207398893831, 'revol_bal'),
 (0.013759727232373422, 'total_bc_limit'),
 (0.01375097440008879, 'bc_open_to_buy'),
 (0.013283910565870857, 'mo_sin_old_il_acct'),
 (0.013110069104442738, 'il_util'),
 (0.01288644481049224, 'tot_hi_cred_lim'),
 (0.012625424678410603, 'total_rev_hi_lim'),
 (0.012501392726232803, 'avg_cur_bal'),
 (0.012349967480016493, 'tot_cur_bal'),
 (0.012286389740073199, 'mths_since_rcnt_il'),
 (0.012187892834777976, 'total_il_high_credit_limit'),
 (0.012111530162154901, 'total_bal_ex_mort'),
 (0.012110235429379817, 'issue_d_Mar-2019'),
 (0.011718604482794359, 'all_util'),
 (0.011683873648893712, 'total_bal_il'),
 (0.011128408090404811, 'mths_since_recent_bc'),
 (0.01085790203287019, 'loan_amnt'),
 (0.010687198682791737, 'total_acc'),
 (0.01056532817298875, 'total_rec_late_fee'),
 (0.010102712845165106, 'mo_sin_rcnt_rev_tl_op'),
 (0.009953999306359589, 'mo_sin_rcnt_tl'),
 (0.009921430307366025, 'num_il_tl'),
 (0.009678946679734452, 'num_rev_accts'),
 (0.00938461766772491, 'open_acc'),
 (0.009365619194332033, 'num_sats'),
 (0.009188062083193697, 'inq_last_6mths'),
 (0.009033073051634578, 'num_actv_rev_tl'),
 (0.00896808222022956, 'num_rev_tl_bal_gt_0'),
 (0.008865766473763984, 'num_op_rev_tl'),
 (0.008697655975787557, 'num_bc_tl'),
 (0.008686241590355458, 'num_actv_bc_tl'),
 (0.008520714687526547, 'acc_open_past_24mths'),
 (0.008460053870190333, 'inq_last_12m'),
 (0.00788327399530659, 'inq_fi'),
 (0.007705499764727347, 'pct_tl_nvr_dlq'),
 (0.0073186768849419276, 'num_bc_sats'),
 (0.006618672407895123, 'open_il_24m'),
 (0.0064995716056549, 'num_tl_op_past_12m'),
 (0.0064583841809904945, 'percent_bc_gt_75'),
 (0.006411459449879083, 'open_act_il'),
 (0.006122270083919938, 'open_rv_24m'),
 (0.006118477685979433, 'total_cu_tl'),
 (0.006091751105075303, 'mort_acc'),
 (0.005611191520946484, 'open_acc_6m'),
 (0.005371586781803805, 'issue_d_Feb-2019'),
 (0.004908762598650915, 'next_pymnt_d_Apr-2019'),
 (0.004883808296922587, 'delinq_2yrs'),
 (0.004850208685697029, 'open_rv_12m'),
 (0.004486740128879467, 'next_pymnt_d_May-2019'),
 (0.0036235770907716677, 'open_il_12m'),
 (0.0030475938492049684, 'num_accts_ever_120_pd'),
 (0.003028874857208151, 'tot_coll_amt'),
 (0.002809338319176018, 'verification_status_Verified'),
 (0.002114461098373946, 'verification_status_Not Verified'),
 (0.002076206927832001, 'verification_status_Source Verified'),
 (0.0016768297433254636, 'home_ownership_OWN'),
 (0.0015902936791011753, 'home_ownership_RENT'),
 (0.0014626002068824607, 'pub_rec_bankruptcies'),
 (0.0014547656039143528, 'application_type_Joint App'),
 (0.001410423146866164, 'home_ownership_MORTGAGE'),
 (0.001253175970505989, 'pub_rec'),
 (0.001182991871935385, 'application_type_Individual'),
 (0.0011574285823060205, 'initial_list_status_w'),
 (0.0010213755807435482, 'initial_list_status_f'),
 (0.0007898962623025898, 'num_tl_90g_dpd_24m'),
 (0.0005015741603633948, 'collections_12_mths_ex_med'),
 (0.00015466550454096948, 'home_ownership_ANY'),
 (0.00011781464296577277, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [27]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
easy_model = EasyEnsembleClassifier(n_estimators=1000, random_state=1, sampling_strategy=1)
easy_model.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=1000, random_state=1, sampling_strategy=1)

In [35]:
# Calculated the balanced accuracy score
predictions = easy_model.predict(X_test_scaled)
balanced_acc_score = balanced_accuracy_score(y_test, predictions)
print(balanced_acc_score)

0.9366836551922134

In [29]:
# Display the confusion matrix
confusion_matrix(y_test, predictions)

array([[   86,     6],
       [ 1051, 16062]])

In [34]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.08      0.93      0.94      0.14      0.94      0.88        92
   low_risk       1.00      0.94      0.93      0.97      0.94      0.88     17113

avg / total       0.99      0.94      0.93      0.96      0.94      0.88     17205

### Final Questions

1. Which model had the best balanced accuracy score?

 Easy Ensemble had the best balanced accuracy score 

2. Which model had the best recall score?

Easy Ensemble also had the best recall. 

3. Which model had the best geometric mean score?

 Easy Ensemble. 

4. What are the top three features?

  The top three features are 'total_rec_prncp', 'total_pymnt_inv', and 'last_pymnt_amnt'